@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

@font-face {
    font-family: 'Inter', sans-serif;
    src: url(assets/fonts/Inter-VariableFont_slnt\,wght.ttf) format('opentype');
    font-weight: 400;
}

:root {

    --Green: hsl(75, 94%, 57%);

    --White: hsl(0, 0%, 100%);
    --Grey: hsl(0, 0%, 20%);
    --DarkGrey: hsl(0, 0%, 12%);
    --OffBlack: hsl(0, 0%, 8%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
    font-family: 'Inter';
}

html {
    background-color: var(--OffBlack);
}

body {
    background-color: var(--DarkGrey);
    width: 500px;
    height: 820px;
    margin: auto;
    margin-top: 10%;
}

img {
    display: flex;
    margin: auto;
    border-radius: 50%;
}

h1 {
    text-align: center;
    color: white;
    margin: 20px;
}

p.paragrafo {
    text-align: center;
    color: var(--Green);
    margin: 20px;
}

p {
    text-align: center;
    color: white;
    margin: 40px;
}

a {
    display: grid;
    text-align: center;
    margin: 40px;
    color: white;
    background-color: var(--Grey);
    padding: 15px;
    border-radius: 7px;
    text-decoration: none;
    font-weight: 600;
}
